*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background:linear-gradient(to right, rgb(255, 5, 255), rgb(0, 166, 255), rgb(255, 255, 255));
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
}
.clock{
    position:relative;
    width:300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.637);
}
.clock .number{
    --rotation:0;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 22px;
    transform: rotate(var(--rotation));
}
.clock .number1{--rotation:30deg;}
.clock .number2{--rotation:60deg;}
.clock .number3{--rotation:90deg;}
.clock .number4{--rotation:120deg;}
.clock .number5{--rotation:150deg;}
.clock .number6{--rotation:180deg;}
.clock .number7{--rotation:210deg;}
.clock .number8{--rotation:240deg;}
.clock .number9{--rotation:270deg;}
.clock .number10{--rotation:300deg;}
.clock .number11{--rotation:330deg;}

.clock .hand{
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left:50%;
    border: 1px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation)* 1deg));
}
.clock::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    z-index: 15;
    width:13px;
    height: 13px;
    border-radius: 50%;
}
.clock .hand.hour{
    height: 35%;
    width:8px;
    background-color: blueviolet;
    z-index: 11;
}
.clock .hand.minute{
    height: 40%;
    width:8px;
    background-color: rgb(43, 226, 83);
    z-index: 12;
}
.clock .hand.second{
    height: 45%;
    width:3px;
    background-color: rgb(43, 186, 226);
    z-index: 13;
}