
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.container{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    background: #e3f9ff;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border:0;
    outline:0;
    width:60px;
    height:60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(255, 255, 255, 0.2);
    background: transparent;
    font-size: 20px;
    color:rgb(255, 255, 255);
    cursor: pointer;
    margin: 10px;
}

form input:hover{
    box-shadow: 4px 4px 15px rgba(2, 233, 254, 0.68);
}

form .display{
    display:flex;
    justify-content: center;
    margin: 20px 0;
    background-color: #0c0f106b;
}

form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width:145px;
}

form input.operator{
    color:rgb(0, 187, 255);

}