.border{
    border: 2px solid red;
}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color:white;
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 7px;
}
.bg-grey{
    background-color: #121212;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}