*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:70%;
    height: 500px;
    border: 2px solid grey;
    margin: auto;
    margin-top: 100px;
    overflow: hidden;
    position: relative;
}
.slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}
.btn{
    margin-top:15px;
    text-align: center;
}
.btn button{
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    padding: 2px 10px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: rgb(183, 236, 252);
}
button:hover{
    background-color: #4e42f4;

    transition: 0.3s ease-out;
    font-size: 17px;
    box-shadow: 0 0 10px #ff1410;
}